form label{
    color: blue;
    font-size: larger;
    margin-left: 600px;
    position: relative;
    top: 100px;
}

form input{
    color: blue;
    font-size: larger;
    position: relative;
    margin-left: 40px;
    top: 100px;
    border-radius:20px ;
    margin-top: 20px;
    
}

form h2{
    margin-top: 200px;
    margin-left:780px ;
}

form h2{
    margin-top: 200px;
    margin-left:780px ;
}

#a1{
    position: relative;
    left: 750px;
    top: 180px;
    margin-left: 0px;
    border-radius: 10px;
    color: white;
    width: 100px;
    background-color: blue;
}

#a2{
    position: relative;
    left: 750px;
    top: 20px;
    margin-left: 0px;
    border-radius: 10px;
    color: white;
    width: 100px;
    background-color: blue;
}

a{
    color: white;
    text-decoration: none;
}